#rcLogo {
    position: relative;
}


/*Logo - Background Oval*/

#rcLogo div:nth-child(1) {
    position: absolute;
    width: 20rem;
    height: 10rem;
    background: linear-gradient(rgba(200, 100, 29, 1.0) 60%, black 40%);
    border-radius: 14rem / 7rem;
    border: .2rem solid black;
    z-index: 0;
}


/*Logo - Text Globals*/

#rcLogo div:nth-child(1) span {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    line-height: 3.5rem;
    z-index: 1;
}


/*Logo - Rock text - black*/

#rcLogo div:nth-child(1) span:nth-of-type(1) {
    font-size: 6rem;
    color: black;
    top: 22%;
}


/*Logo - Coast text - white*/

#rcLogo div:nth-child(1) span:nth-of-type(2) {
    font-size: 3.5rem;
    color: white;
    top: 60%;
}